.div1 {
	height: 275px;
	float: left;
	width: 350px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #B8B8B8;
	background-color: #D6D6D6;
	margin-left: 25px;
}

.div11 {
	height: 275px;
	float: left;
	width: 475px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #B8B8B8;
	background-color: #D6D6D6;
	margin-left: 35px;
}

.div2 {
	float: right;
	width: 300px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #B8B8B8;
	background-color: #D6D6D6;
}

input[type=text] {
	text-align: center;
}